<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<timestamp key="timestamp" datePattern="yyyy-MM-dd-HH-mm-ss"/>

	<!-- Console appender -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- File appender with timestamp -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>exifsort_${timestamp}.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Root logger -->
	<root level="INFO">
		<appender-ref ref="FILE"/>
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>