<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Define the property using your class -->
	<define name="LOGGING_DIRECTORY" class="sk.kubisoft.exifutils.cli.logging.LoggingDirectoryProperty"/>

	<!-- File appender with timestamp -->
	<timestamp key="timestamp" datePattern="yyyy-MM-dd-HH-mm-ss"/>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOGGING_DIRECTORY}/exifutils_${timestamp}.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Root logger -->
	<root level="INFO">
		<appender-ref ref="FILE"/>
	</root>

	<!-- Root logger for my application -->
	<logger name="sk.kubisoft.exifutils" level="DEBUG"/>

</configuration>
